<tr>
  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi <%= @vendor.name.titleize %> Team,</p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Sorry! Order <%= @order.number %> for <%= @order.customer.name %> is declined. Since we ran full credit on the customer, we have sent them an adverse action notice.

    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0;">Thank you!</p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Vartana Team</p>
  </td>
</tr>