<tr>
  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi <%= @vendor.name.titleize %> Team,</p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Yay! Order <%= @order.number %> for <%= @order.customer.name %> is financed. We will transfer funds to your account within 1-day.

    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0;">Thank you!</p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Vartana Team</p>
  </td>
</tr>